* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    height: 600px;
    background-color: #93B5C9;
}
main section{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 65%;
    background-color: #AB2849;
}
main ~ section {
    margin-left: 300px;
}
section article{
    margin: 20px 0px 20px 0px;
    height: 150px;
    background-color: #AB2849;
}
footer{
    margin: 0px  20px 5px 20px;
    height: 100px;
    background-color: #AB2849;
}